<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>movies</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <div class="logo-name">
            <h2>Anime-site</h2>
            <h3>Home</h3>
          </div>
          <div>
            <button class="yelow">
              SIGN IN <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </header>
      </nav>
      <main>
        <div class="left-side">
          <img src="./img/beastars.jpg" alt="beastars" />
        </div>
        <div class="right_side">
          <div class="name">
            <h2>BEASTARS</h2>
            <h4>( 6.3k )</h4>
            <i class="fas fa-star"></i>
            <div>
              <h2>9.5</h2>
              <h3 id="grey-10">/10</h3>
            </div>
          </div>
          <div class="discreption">
            <p>
              In a world populated by anthropomorphic animals, herbivores and
              carnivores coexist with each other. For the adolescences of
              Cherryton Academy, school life is filled with hope, romance,
              distrust, and uneasiness.The main character is Regoshi the wolf, a
              member of the drama club. Despite his menacing appearance, he has
              a very gentle heart. Throughout most of his life, he has always
              been an object of fear and hatred by other animals, and he's been
              quite accustomed to that lifestyle. But soon, he finds himself
              becoming more involved with his fellow classmates who have their
              own share of insecurities and finds his life in school changing
              slowly.
            </p>
            <p>Published Sep 8, 2016 to Oct 8, 2020</p>
          </div>
          <div class="category">
            <button>Drama</button>
            <button>Psychological</button>
            <button>Slice of Life</button>
            <button>Violence</button>
          </div>
          <div class="mangaka">
            <p>mangaka : Paru Itagaki</p>
          </div>
          <div>
            <button class="yelow"><i class="fas fa-eye"></i>watch now</button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
