<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>movies</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <header>
          <div class="logo-name">
            <h2>Anime-site</h2>
            <h3>Home</h3>
          </div>
          <div class="search">
            <input type="text" />
            <button><i class="fas fa-search"></i></button>
          </div>
          <div>
            <button class="yelow">
              SIGN IN <i class="fas fa-sign-in-alt"></i>
            </button>
          </div>
        </header>
      </nav>
      <main>
        <div class="first-row">
          <div class="one">
            <div class="manga_cover"></div>
            <div class="disc">
              <h4>shuumatsu no valkyrie</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover2"></div>
            <div class="disc">
              <h4>666</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover3"></div>
            <div class="disc">
              <h4>chainsaw man</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover4"></div>
            <div class="disc">
              <h4>jujutsu kaisen</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover5"></div>
            <div class="disc">
              <h4>Kengan Ashura</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
        </div>
        <div class="first-row">
          <div class="one">
            <div class="manga_cover6"></div>
            <div class="disc">
              <h4>naruto</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover7"></div>
            <div class="disc">
              <h4>one piece</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover8"></div>
            <div class="disc">
              <h4>shaman king</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover9"></div>
            <div class="disc">
              <h4>the promised neverland</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
          <div class="one">
            <div class="manga_cover10"></div>
            <div class="disc">
              <h4>beastars</h4>
              <p>
                Every 1000 years, gods of every pantheon convene and hold a
                conference to decide the fate of humanity by calling a vote to
                determine whether or not the human race should continue living
                or go extinct <a href="#">read more</a>
              </p>
              <button class="yelow ish">
                <i class="fas fa-eye"></i>watch now
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
